body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.left-column {
	height: 50%;
	width: calc(100%/3);
}

.middle-column {
	height: 50%;
	width: calc(100%/3);
}

.right-column {
	height: 50%;
	width: calc(100%/3);
}
.green {
	background-color: #008D24;
}

.light_blue {
	background-color: #0B69C0;
}

.purple {
	background-color: #3A246D;
}

.green { background-color: #008D24; }
.light_blue { background-color: #0B69C0; }
.purple { background-color: #3A246D; }

@media only screen and (max-width: 1400px) {
	body {
		display: block;
	}
	.left-column {
		order: 0;
	}
	.middle-column {
		height: 50%;
		width: 100%;
		order: 2;
	}
	.right-column {
		order: 1;
	}
}

@media only screen and (max-width: 1000px) {
	body {
		display: flex;
	}
	.left-column {
		order: 1;
	}
	.middle-column {
		order: 0;
	}
	.right-column {
		order: 2;
	}
}

@media only screen and (max-width: 600px) {
	.left-column {
		width: 50%;
	}
	.right-column {
		width: 50%;
	}
